body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

.alltasks {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: coral;
  height: 500px;
}

.task {
  text-align: center;
}

.listElements {
  padding: 2px;
}

.new-task {
  font-size: large;
}

.new-btn {
  display: inline;
  background-color: coral;
  border: 1px none coral;
  margin-left: 5px;
}
